.App {
  /* max-width: 1000px;
  margin-right: 500px; */
  text-align: center;
}

.InputForm {
  display: grid;
}

.formInput {
  /* max-width: 500px; */
}

.cells {
  align-items: center;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  justify-content: center;
}

.cellDate{

}

.cellDone {
  justify-content: center;
  /* padding: 50px; */
  text-align: center;
  background: rgb(128, 124, 204);
  background: linear-gradient(90deg, rgba(128, 124, 204, 1) 0%, rgba(17, 226, 69, 1) 35%, rgba(9, 254, 255, 1) 100%);
  max-height: 50px;
  max-width: 50px;
  border-radius: 10% 30% 50% 70%;
}

.cellNotDone {
  /* padding: 50px; */
  background-color: rgba(197, 46, 46, 0.562);
  max-height: 50px;
  max-width: 50px;
  border-radius: 10% 30% 50% 70%;
}

.calendar {
  /* grid-template-rows: 1fr 1fr; */
}

.controllpanel{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.headline {
  display: grid;
  /* gap: 50px; */
  grid-template-columns: repeat(7, 1fr);
}

.datesline{
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(7, 1fr);
}

.dayOfWeek{
  width: 150px;
}


.NavBar{
  display: flex;
  text-align: center;
  gap: 20px;
}

.radios {
  display: grid;
  justify-content: center;
}